@import url('https://fonts.googleapis.com/css2?family=Montserrat'); [lang="en"] { font-family:"Montserrat",  "Noto Sans KR", sans-serif,"맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Noto%20Sans%20KR'); [lang="ko"] { font-family: "Noto Sans KR", "Montserrat", sans-serif,"맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif; }




body{
 margin:0;
 padding:0;
 width:100%;
 height: 100%;

}


/************************************HEADER********************************/




/* 1024이상일때 header 표시하기 */
@media (min-width:1024px) {
  header{

  }
}