@import url('https://fonts.googleapis.com/css2?family=Montserrat'); [lang="en"] { font-family:"Montserrat",  "Noto Sans KR", sans-serif,"맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Noto%20Sans%20KR'); [lang="ko"] { font-family: "Noto Sans KR", "Montserrat", sans-serif,"맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif; }




body{
 margin:0;
 padding:0;
 width:100%;
 height: 100%;

}




/*피시적용*/
@media screen and (min-width: 1024px) {
  /* STYLES HERE */

}

/* 태블릿적용 */
/* 786이상 ~ 최대1023 까지 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* STYLES HERE */
}

@media screen and (min-width: 481px) and (max-width: 767px) { 

  /* STYLES HERE */
}


@media only screen and (max-width: 480px) {
  /* STYLES HERE */
}   